
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set sv_devmode 1
# sv_pureLevel 2

set mysql_connection_string "mysql://root@127.0.0.1/kingg?multipleStatements=true?charset=utf8mb4"

sv_hostname "dasdadsa" 
sv_maxclients 7
sets Discord "dsadas"
sets locale "pt-BR"
sets sv_projectName "123213213"
sets sv_projectDesc "1232132131"

sv_scriptHookAllowed 0
sv_endpointprivacy true
onesync_enabled true

set onesync_population 0
set onesync_enableInfinity 1

exec config/dev/keys.cfg
exec config/dev/resources.cfg